docsite/.hugo_build.lock
docsite/public
docsite/assets/jsdoc/*.json
docsite/data/jsdoc-order.yaml

# Temporary directories I'm still working in before I commit them.
create
local-test-server-*
workers-deno-deploy
database-postgres
pages-plugin

# This allows me to take notes that I'll need later.
**/NOTES.md
