{{/* References:
  https://gohugo.io/content-management/content-adapters/
  https://gohugo.io/methods/site/data/
  https://github.github.com/gfm/
*/}}

{{ $i        := 100 }}
{{ $sidebar  := $.Site.Data.en.docs.sidebar }}
{{ $pageList := (slice) }}
{{ range $info := index .Site.Data "jsdoc-order" }}
  {{ $res := resources.Get (printf "jsdoc/%s.json" $info.name) }}
  {{ $data := transform.Unmarshal $res }}
  {{ $content := "" }}
  {{ range $node := $data.nodes }}
    {{ if not $node.jsDoc }}
      {{ continue }}
    {{ end }}
    {{ if eq $node.kind "moduleDoc" }}
      {{ $content = add $content "## Module information\n" }}
      {{ $content = add $content (printf "%s\n" $node.jsDoc.doc) }}
    {{ else if eq $node.kind "function" }}
      {{ $content = add $content (partial "function-call.html" $node) }}
    {{ else if eq $node.kind "import" }}
      {{/* Do not process */}}
      {{/* $content = add $content (printf "```json\n%s\n```\n" (jsonify (dict "indent" "  " "indent" "  ") $node)) */}}
    {{ else }}
      {{ $content = add $content (printf "### unknown %s %s\n" $node.kind $node.name) }}
      {{ $content = add $content (printf "%s\n" $node.jsDoc.doc) }}
      {{ $content = add $content (printf "```json\n%s\n```\n" (jsonify (dict "indent" "  " "indent" "  ") $node)) }}
    {{ end }}
  {{ end }}
  {{ $modTime := time.AsTime $info.date }}
  {{ $page := dict
    "content" (dict
      "mediaType" "text/markdown"
      "value"     $content
    )
    "kind"    "page"
    "weight"  $i
    "dates"   (dict "date" $modTime "lastmod" $modTime "publishDate" time.Now)
    "path"    $info.name
    "title"   $info.title
  }}
  {{ $.AddPage $page }}
  {{ $pageList = append (dict "title" $info.title "slug" $info.name) $pageList }}
  {{ $i = add $i 1 }}
{{ end }}
{{ $sidebar = append (dict "title" "Reference" "pages" $pageList) $sidebar }}
{{ site.Store.Set "sidebar" $sidebar }}
