{{ $baseURL := $.Site.Home.Permalink }}
  <link rel="manifest" href="{{ $baseURL }}manifest.json">
  <link rel="shortcut icon" href="{{ $baseURL }}favicon/favicon.ico">
  <link rel="icon" href="{{ $baseURL }}favicon/favicon-96x96.png" sizes="96x96" type="image/png">
  <link rel="icon" href="{{ $baseURL }}favicon/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ $baseURL }}favicon/apple-touch-icon.png" sizes="180x180">
  <meta name="apple-mobile-web-app-title" content="Fedi Any Page">
