{{ $name := .name }}
{{ $func := .functionDef }}

{{   $call :=           "### " }}
{{ if $func.isAsync }}
  {{ $call  = add $call "async " }}
{{ end }}
{{   $call  = add $call (printf "function %s(" $name) }}

{{ $count := 0 }}
{{ range $func.params }}
  {{ $param := "" }}
  {{ if $count }}{{ $param = add $param ", " }}{{ end }}
  {{ if .optional }}{{ $param = add $param "*" }}{{ end }}
  {{ $param = add $param .name }}
  {{ if .optional }}{{ $param = add $param "*" }}{{ end }}
  {{ if isset . "tsType" }}{{ $param = add $param ": " .tsType.keyword }}{{ end }}
  {{ $call  = add $call $param }}
  {{ $count = add $count 1 }}
{{ end }}

{{ with $func.returnType }}
  {{ $call  = add $call "): " (printf "%s\n" .repr) }}
{{ else }}
  {{ $call  = add $call ")\n" }}
{{ end }}

{{ $desc := (printf "%s\n\n" .jsDoc.doc) }}
{{ $supported := "Production. Incompatible changes will not happen outside of major version bumps." }}

{{ $count = 0 }}
{{ range .jsDoc.tags }}
  {{ if eq .kind "param" }}
    {{ if not $count }}{{ $desc = add $desc "**Parameters:**\n\n" }}{{ end }}
    {{ $desc = add $desc (printf "* *%s*: %s\n" .name .doc) }}
    {{ $count = add $count 1 }}
  {{ else if eq .kind "return" }}
    {{ $desc = add $desc "\n**Returns:** " .doc "\n\n" }}
  {{ else if eq .kind "unsupported" }}
    {{ if eq .value "@alpha" }}
      {{ $supported = "<span style='color: red'>Alpha.</span> This function is likely to change or even be removed."}}
    {{ else if eq .value "@beta" }}
      {{ $supported = "<span style='color: blue'>Beta.</span> Future compatibility is not guaranteed."}}
    {{ end }}
  {{ end }}
{{ end }}

{{ $desc = add $desc "**Support Level:**\n\n&nbsp;&nbsp;&nbsp;&nbsp;" $supported "\n\n" }}
{{ $call = add $call $desc }}

{{ return $call }}
